.error_message {
  border-radius: var(--border-radius);
  padding: var(--vertical-space) var(--horizontal-space);
  color: rgb(var(--danger-color));
  margin-bottom: var(--vertical-space);
  border: 1px solid rgb(var(--danger-color));
  background-color: rgb(var(--danger-color-background));
}
