@use "../../app/variables";
.wizard {
  &-list {
    display: flex;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    &-item {
      background-color: rgb(var(--background-color-alt));
      border: 1px solid rgb(var(--border-color));
      padding: calc(var(--vertical-space) / 2) calc(var(--horizontal-space) / 2);
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &--active {
        background-color: rgb(var(--primary-color));
        .wizard-list-item-icon {
          color: white;
        }
      }

      &-icon {
        font-size: 1.125rem;
        color: rgb(var(--primary-color));
      }

      &-text {
        display: none;
      }
    }
  }
  &-step {
    background-color: rgb(var(--background-color-alt));
    border: 1px solid rgb(var(--border-color));
    border-radius: var(--border-radius);
    padding: var(--vertical-space) var(--horizontal-space);
    display: none;

    &--active {
      display: block;
    }
  }
  @media screen and (min-width: variables.$breakpoint-md) {
    &-list {
      &-item {
        &-text {
          display: block;
        }
      }
    }
  }
}
