@use "variables";

:root {
  --primary-color: 85, 182, 133;
  --primary-color-hover: 61, 166, 120;
  --primary-color-text: 255, 255, 255;
  --primary-color-background: 30, 51, 56;
  --text-color: 255, 255, 255;
  --text-color-alt: 200, 200, 200;
  --secondary-color-text: 255, 255, 255;
  --background-color: 18, 24, 38;
  --background-color-alt: 25, 33, 46;
  --border-color: 46, 54, 68;
  --danger-color: 212, 80, 74;
  --danger-color-background: 56, 20, 10;
  --warning-color: 237, 201, 72;

  --vertical-space: 1rem;
  --horizontal-space: 2rem;

  --container-vertical-space: 1rem;
  --container-horizontal-space: 4rem;
  --border-radius: 0.5rem;

  --opacity-disabled: 0.6;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--background-color));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.page {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  padding-bottom: 2rem;
  background-size: cover;
  position: relative;
  padding: var(--container-vertical-space) var(--container-horizontal-space);
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  gap: var(--horizontal-space);
  grid-template-columns: 1fr;
  width: 100%;
  padding: var(--vertical-space) 0;

  &-column {
    gap: var(--vertical-space);
    display: flex;
    flex-direction: column;
  }

  &-section {
    display: flex;
    flex-direction: column;
  }

  &--pull_right {
    justify-items: flex-end;
  }

  @media screen and (min-width: variables.$breakpoint-md) {
    grid-template-columns: 1fr 1fr;
  }
}

.react-datepicker {
  &-popper {
    transform: translate(10px, 72px) !important;
    &[data-placement^="bottom"] .react-datepicker__triangle {
      fill: rgb(var(--background-color-alt)) !important;
      color: rgb(var(--background-color-alt)) !important;
    }
    .react-datepicker {
      background-color: rgb(var(--background-color));
      border: 1px solid rgb(var(--border-color));
      &__header {
        background-color: rgb(var(--background-color-alt));
      }
      &__current-month {
        color: white;
      }
      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        color: white;
      }
      .react-datepicker__day--selected {
        background-color: rgb(var(--primary-color-hover));
      }
      .react-datepicker__day:not([aria-disabled="true"]):hover,
      .react-datepicker__month-text:not([aria-disabled="true"]):hover,
      .react-datepicker__quarter-text:not([aria-disabled="true"]):hover,
      .react-datepicker__year-text:not([aria-disabled="true"]):hover {
        background-color: rgb(var(--primary-color-hover));
      }
      .react-datepicker__day--keyboard-selected,
      .react-datepicker__month-text--keyboard-selected,
      .react-datepicker__quarter-text--keyboard-selected,
      .react-datepicker__year-text--keyboard-selected {
        background-color: rgb(var(--primary-color));
      }
    }
  }
}
